<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="js/angular.min.js"></script>
<script src="js/angulartest.js"></script>
</head>
<body ng-app="myApp">

<!-- 
 <input type="text" ng-model="user.info">
<p>{{user.info}}</p>

<div ng-controller="secondCtrl">
<input type="text" ng-model="user.info">
<p>{{reverse(user.info)}}</p>
</div>  -->
<div ng-controller="thirdCtrl"> 
<ul style="list-decoration:none">
<li ng-repeat="x in toDoList">
{{x}}</li>
</ul>

<button ng-click="update()">Update</button>
</div>


</body>
</html>